/* Name: Monokai */
pre > code * {
	color: #F8F8F2;
}

pre > code .techoucomment {
	color: #75715E;
	font-style: italic;
}

pre > code .techoustring {
	color: #E6DB74;
}

pre > code .techouconstant.techounumeric {
	color: #AE81FF;
}

pre > code .techouconstant.techoulanguage {
	color: #AE81FF;
}

pre > code .techouconstant.techoucharacter {
	color: #AE81FF;
}

pre > code .techouconstant.techouother {
	color: #AE81FF;
}

pre > code .techouvariable {
}

pre > code .techoukeyword {
	color: #F92672;
}

pre > code .techoustorage {
	color: #F92672;
}

pre > code .techoustorage.techoutype {
	color: #66D9EF;
}

pre > code .techouentity.techouname.techouclass {
	color: #A6E22E;
	font-decoration: underline;
}

pre > code .techouentity.techouother.techouinherited-class {
	color: #A6E22E;
}

pre > code .techouentity.techouname.techoufunction {
	color: #A6E22E;
}

pre > code .techouvariable.techouparameter {
	color: #FD971F;
}

pre > code .techouentity.techouname.techoutag {
	color: #F92672;
}

pre > code .techouentity.techouother.techouattribute-name {
	color: #A6E22E;
}

pre > code .techousupport.techoufunction {
	color: #66D9EF;
}

pre > code .techousupport.techouconstant {
	color: #66D9EF;
}

pre > code .techousupport.techoutype {
	color: #66D9EF;
}

pre > code .techousupport.techouclass {
	color: #66D9EF;
}

pre > code .techousupport.techouother.techouvariable {
}

pre > code .techouinvalid {
	color: #F8F8F0;
}

pre > code .techouinvalid.techoudeprecated {
	color: #F8F8F0;
}

