* {
    font-family: Lato;
}

body, html {
    background-color: #f4f4f4;
}

.image-is-150 {
    width: 150px;
    height: 150px;
}

.author {
    margin: 25px;
    margin-bottom: 0px;
    padding-top: 20px;
    margin-top: 5px;
}

.content blockquote, .content pre.sourceCode {
    background-color: #fefefe;
}

.content blockquote cite {
    display: block;
}

#brand {
    font-weight: 900;
    font-family: Lato;
    font-size: 22px;
}

#subbrand {
    font-family: Lato;
    font-size: 22px;
}

#sidebar {
}

#main {
}

#container {
}

.title {
    /*font-family: Bitter;*/
    font-family: Lato;
    font-weight: 900;
}

.article-box {
  background: #fff;
  position: relative;
  box-shadow: 0 0 5px #ccc;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-overflow: ellipsis;
}

.article-box > p.subtitle {
    padding: 15px;
    color: #777;
    line-height: 1.4;
}

.article-box > h6, .article-box > h5, .article-box > h4 {
    padding: 15px;
    padding-bottom: 0px;
    margin-bottom: 0xp;
}

.article-box:hover {
    box-shadow: 0 0 0px #ccc;
}

#article-meta {
    margin-bottom: 30px;
}

span.is-link.tag a {
    color: white;
}

article.article-post h4.subtitle {
    margin-bottom: 50px;
}

h2.title.is-2 > span.syntax {
    font-family: monospace;
    background-color: #fff;
    color: #555;
    border-radius: 8px;
    padding-left: 6px;
    padding-right: 6px;
}

.footer {
    background-color: white;
}

#head {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.article-tile-meta-box {
    margin-bottom: 0px !important;
    padding-bottom: 5px !important;
}

.article-tile-meta-box span {
    color: #999;
}
article > .content > pre  {
	background-color: #fafafa;
	border: 1px solid #ddd;
	border-radius: 16px;
}
.book-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* Temporarily, until I've added a footnote-collector/parser */
.footnote-definition {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}
.footnote-definition > sup.footnote-definition-label {
    float: left;
    padding: 0px;
    padding-right: 10px;
    margin: 0px;
    font-size: 100%;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5;
}

.footnote-definition > p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}
