<!DOCTYPE html>
<html>
 <head>
     <script>
         if(navigator.userAgent.match(/iPhone/i)) {
             document.write('<meta name="viewport" content="width=device-width, user-scalable=no" />');
         }
     </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AppVenture {% block title %}{% endblock title %}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta content="Simple Swift Guides" name="description" />
  <meta content="swift apple ios macos tvos watchos ipad mac macbook linux" name="keywords" />
  <meta content="Benedikt Terhechte" name="author" />
  <meta content="Appventure" property="og:title" />
  <meta content="Simple Swift Guides" property="og:description" />
  <meta content="http://appventure.me" property="og:url" />
  <meta content="Appventure" name="twitter:title" />
  <meta content="Simple Swift Guides" name="twitter:description" />
  <meta content="summary_large_image" name="twitter:card" />


  <meta name="twitter:site" content="@terhechte" />
  <meta name="twitter:title" content="AppVenture: Simple. Swift. Guides." />
  <meta content="https://appventure.me/twitter_card.png" name="twitter:image">
  <meta content="https://appventure.me/twitter_card.png" name="og:image">


  {% block metatags %}{% endblock metatags %}
  <meta name="twitter:site" content="@terhechte" />
  <meta name="twitter:creator" content="@terhechte" />
  <link rel="stylesheet" href="/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/monokai2.css?q=1">
  <link rel="stylesheet" href="/css/sundell.css?q=2">
  <link rel="alternate" type="application/rss+xml" title="rsstemplate" href="/feed.rss" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
  <script defer src="/js/fontawesome-all.min.js"></script>
  {% block javascript %}{% endblock javascript %}
 </head>
 <body>
  <section class="section" id="head">
   <div class="container" id="container">
    <div>

     <div class="columns">
      <div class="column is-3">
          <span id="brand"><a href="/index.html"><img src="/img/brand.png" srcset="/img/brand.png 1x, /img/brand@2x.png 2x" /></a></span>
      </div>
      <div class="column is-7">
       <span id="subbrand">
        Simple. Swift. Guides.</span>
      </div>
      <div class="column is-2">
          <div class="field">
              <div class="control is-small">
                  <input id="searchbar" class="input is-rounded is-small" type="text" placeholder="search">
              </div>
          </div>
      </div>
     </div>
    </div>
   </div>
  </section>

  <section class="section hidden" id="search-wrapper">
      <nav class="panel" id="searchresults-outer">
          <p class="panel-heading" id="searchresults-header">
          </p>
          <div id="searchresults">
          </div>
          <div class="panel-block">
              <button class="button is-link is-outlined is-fullwidth" id="search-toggle">
                  Reset
              </button>
          </div>
      </nav>
  </section>

  <section class="section" id="main">
   <div class="container" id="container">
    <div class="columns">
     <div class="column">
      <div class="columns">
       <div class="column">
        <div class="tabs">
		{% block lefttop %} {% endblock lefttop %}
        </div>
       </div>
       <div class="column is-narrow">
        <div class="buttons has-addons is-hidden-mobile">
        </div>
       </div>
      </div>

      {% block content %}{% endblock content %}


     </div>

     <div class="column is-narrow">

      <aside class="menu">

          {% block sections %}{% endblock sections %}

       <br/>
       <ul class="menu-list">
        <li>
         <p class="menu-label">
          <a>
           <i class="fas fa-dove"></i>
           Swift Topics
          </a>
         </p>
         <ul>
             <li><a href="/topics/all.html">All</a></li>
	        {% for category in context.by_category %}
             {% if category.name != "All" %}
             <li><a href="{{ url_category(id=category.name) }}">{{ category.name }}</a></li>
             {% endif %}
          {% endfor %}
         </ul>
        </li>

        <li>
            <p class="menu-label">
                <a>
                    <i class="fas fa-book"></i>
                    Guides
                </a>
            </p>
            <ul>
	              {% for book in context.books %}
                <li><a href="{{ url_book(id=book.identifier) }}">{{ book.info.meta.short_title }}</a></li>
	              {% endfor %}
            </ul>
        </li>
       </ul>

       <div class="sidebar-banner">
           <a href="https://contravariance.rocks"><img src="/img/contravariance_banner.png" srcset="/img/contravariance_banner.png 1x, /img/contravariance_banner@2x.png 2x" /></a>
       </div>

       <ul class="menu-list">
        <li>
         <p class="menu-label">
          <a>
           <i class="fas fa-tags"></i>
           Tags
          </a>
         </p>
         <ul>

	  {% for tag in context.by_tag | sort(attribute="count") | reverse %}
	  <li><a href="{{ url_tag(id=tag.name) }}" class="tags has-addons"><span class="tag is-info is-rounded">{{ tag.name }}</span><span class="tag is-primary is-rounded">{{ tag.count }}</span></a></li>
	  {% endfor %}

         </ul>
        </li>
       </ul>


      </aside> 


     </div>
    </div>
   </div>
  </section>

  <div class="footer">
   <article class="media" id="followme">
    <figure class="media-left">
     <p class="image is-64x64">
      <img src="/img/terhechte.jpg" class="profile-image">
     </p>
    </figure>
    <div class="media-content">
        <div class="columns">
            <div class="column">
                <div class="content">
                    <p>
                        <strong>Benedikt Terhechte</strong> <a href="https://twitter.com/terhechte"><small>@terhechte</small></a>
                        <br>
                        If you read this far, you should <a href="https://twitter.com/terhechte">follow Benedikt on Twitter</a>.<br/>
                        APPVENTURE is dedicated to providing articles about Swift, macOS, iOS &amp; Linux development.
                    </p>
                    <p>
                        <strong>2011 - 2019 Benedikt Terhechte</strong>
                    </p>
                </div>
            </div>
            <div class="column">
                <p>
                    <a href="https://terhech.de">Benedikt's private blog can be found
                        at <strong>terhech.de</strong></a>
                </p>
                <p>
                    <br/>
                    <strong>Other Profiles</strong>
                </p>
                <p class="subtitle is-6">
                    <a href="https://twitter.com/terhechte"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.xing.com/profile/Benedikt_Terhechte">
                        <i class="fab fa-xing"></i>
                    </a>
                    <a href="https://github.com/terhechte">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://news.ycombinator.com/user?id=terhechte">
                        <i class="fab fa-hacker-news"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="media-right">
     <a href="https://twitter.com/terhechte" class="button is-info is-rounded">
      <i class="fab fa-twitter"></i>&nbsp;
      Follow Me</a>
    </div>
   </article>
  </div>

  <script src="/{{ config.Search.searchIndexFile }}" type="text/javascript" charset="utf-8"></script>
  <script src="/js/elasticlunr.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/mark.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/searcher.js" type="text/javascript" charset="utf-8"></script>

 </body>
</html>
