{% extends "base.html" %}
{% block title %}
- {{ content.chapter.name }}
{% endblock title %}

{% block metatags %}
{% if content.book.info.meta.feature_image %}
<meta content="http://appventure.me{{ content.book.info.meta.feature_image }}" name="twitter:image">
<meta content="http://appventure.me{{ content.book.info.meta.feature_image }}" name="og:image">
{% endif %}
{% endblock metatags %}

{% block javascript %}
<script>
function prev() {
     {% if content.chapter.previous %}
     document.location.href = "/{{ content.chapter.previous.slug }}";
     {% endif %}
}

 function next() {
     {% if content.chapter.next %}
     document.location.href = "/{{ content.chapter.next.slug }}";
     {% endif %}
 }
</script>
{% endblock javascript %}

{% block content %}
<h1 class="title is-3">{{ content.book.info.title }}</h1>
<h4 class="subtitle is-4">{{ content.chapter.document.info.title }}</h4>

</div>
</div>
<div class="columns">
        <div class="column is-narrow">

            <aside class="book-sidebar">
                <p class="menu-label">
                    <i class="fas fa-book"></i>
                    Contents
                </p>

                {% if content.book.complete_book %}
                <p class="menu-label">
                    <a href="/{{ content.book.complete_book.slug }}">All on one page</a>
                </p>
                {% endif %}

                {% for chapter in content.book.chapters %}
                <ul class="menu-list">
                    <li><a
                        {% if content.chapter.slug == chapter.slug %} class="is-active"
                        {% endif %}
                            href="/{{ chapter.slug }}">{{ chapter.name }}
                        {% if chapter.document.info.meta.updated %}
                        🆕
                        {% endif %}
                    </a>

                    {% if chapter.sub_chapters | length > 0 %}
                    <ul>
                        {% for sub_chapter in chapter.sub_chapters %}
                        <li><a
                            {% if content.chapter.slug == sub_chapter.slug %} class="is-active"
                            {% endif %}
                                href="/{{ sub_chapter.slug }}">{{ sub_chapter.name }}
                            {% if sub_chapter.document.info.meta.updated %}
                            🆕
                            {% endif %}
                        </a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    </li>

                </ul>
                {% endfor %}
            </aside>

        </div>
        <div class="column">
<article class="article-post">

	<p>{{ content.chapter.document.info.description_html }}</p>

	<div class="content">
		{{ content.chapter.document.content }}
	</div>


	<article class="box">
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {% if content.chapter.previous %}
      <a href="/{{ content.chapter.previous.slug }}" class="pagination-previous">Previous</a>
      {% else %}
      &nbsp;
      {% endif %}

      {% if content.chapter.next %}
      <a href="/{{ content.chapter.next.slug }}" class="pagination-next">Next</a>
      {% else %}
      &nbsp;
      {% endif %}

      {% if content.chapter.parent %}
      <ul class="pagination-list">
          <li><a href="/{{ content.chapter.parent.slug }}" class="pagination-link"> Back to {{ content.chapter.parent.name }} </a></li>
      </ul>
      {% endif %}
  </nav>
  </article>


</article>

<style type="text/css">
article.article-post > div.content > p > img {
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
}
</style>
{% endblock content %}
