{% extends "base.html" %}
{% block title %}{{ content.info.title }}{% endblock title %}

{% block content %}
<div class="tile is-ancestor">
	{% for article in content.posts %}
	<div class="tile is-6 is-vertical is-parent">
		<div class="tile is-child article-box">
			<figure class="image">
				<img src="/content/2015-11-30-reduce-all-the-things-feature-image.jpg">
			</figure>
			<p class="subtitle is-7 article-tile-meta-box">
			{{ article.info.created }}
			<span><a>#cocoa</a>, <a>#ios</a>, ...</span>
			</p>
			<h4 class="title is-4">{{ article.info.title }}</h4>
			<p class="subtitle is-6">
			{{ article.info.description_html }}
			</p>
		</div>
		<div class="tile is-child article-box">

			<figure class="image">
				<img src="/content/doom.png">
			</figure>
			<h5 class="title is-5">Force optionals in multi-unwrapped "guard let" or "if let"
			</h5>
			<p class="subtitle is-6">
			{{ article.info.description_html }}
			</p>
		</div>
	</div>
	{% endfor %}
</div>

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
	<a class="pagination-previous is-success">Previous</a>
	<a class="pagination-next is-success">Next page</a>
	<ul class="pagination-list">
		<li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
		<li><span class="pagination-ellipsis">&hellip;</span></li>
		<li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
		<li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
		<li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
		<li><span class="pagination-ellipsis">&hellip;</span></li>
		<li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
	</ul>
</nav>
{% endblock content %}

