{% extends "base.html" %}
{% block title %}{{ content.info.title }}{% endblock title %}

{% block lefttop %}
<!--
<ul>
    <li class="is-active">
        <a><i class="fas fa-anchor"></i>&nbsp; Articles</a></li>
    <li>
        <a><i class="fas fa-couch"></i>&nbsp; Blog</a></li>
    <li>
        <a><i class="fas fa-coffee"></i>&nbsp; About</a></li>
</ul>
-->
{% endblock lefttop %}

{% block content %}

{% if content.pagination.current == 0 %}
<h2 class="section-header title is-4">Guides</h2>

<div class="tile is-ancestor guides">
	  {% for books in context.books | split() %}
	  <div class="tile is-6 is-vertical is-parent">
		    {% for book in books %}
		    <div class="tile is-child article-box" onclick="window.location = {{ url_book(id=book.identifier) }};">
            {% if book.info.meta.short_code %}
            {{ book.info.meta.short_code }}
            {% endif %}
            <h4 class="title is-5"><a href="{{ url_book(id=book.identifier) }}">{{ book.info.meta.short_title }}</a></h4>
			      <p class="subtitle is-6">
                <a href="{{ url_book(id=book.identifier) }}">{{ book.info.title }}</a>
            </p>
		    </div>
		    {% endfor %}
	  </div>
	  {% endfor %}
</div>
{% endif %}

<h2 class="section-header title is-4">Articles</h2>

<div class="article-list">
	  {% for article in content.posts %}
		<div class="article-box blog-box" onclick="window.location = '{{ url_post(id=article.identifier) }}'">

			  <div class="meta">
			      {{ article.info.created }}
			      {% for tag in article.info.tags %}
			      <a href="{{ url_tag(id=tag) }}">#{{tag}}</a>
			      {% endfor %}
        </div>

        <div class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
            <div class="media-content">
                <h4 class="title is-5"><a href="{{ url_post(id=article.identifier) }}">{{ article.info.title }}</a></h4>
                <p class="subtitle is-6">
                    <a href="{{ url_post(id=article.identifier) }}">
                        {{ article.info.description }}
                    </a>
                </p>
            </div>
        </div>

    </div>
    {% endfor %}
</div>


<nav class="pagination is-centered" role="navigation" aria-label="pagination">

    {% if content.pagination.previous %}
    <a href="{{ content.pagination.previous.path }}" class="pagination-previous is-success" alt="{{ content.pagination.previous.title }}">Previous</a>
    {% else %}
    &nbsp;
    {% endif %}

	{% if content.pagination.next %}
	  <a href="{{ content.pagination.next.path }}" class="pagination-next is-success" alt="{{ content.pagination.next.title }}">Next</a>
    {% else %}
    &nbsp;
	{% endif %}

</nav>
{% endblock content %}

