{% extends "base.html" %}
{% block title %}{{ content.info.title }}{% endblock title %}

{% block lefttop %}
{% endblock lefttop %}

{% block content %}
<h2 class="section-header title is-4">Guides</h2>

<div class="tile is-ancestor guides">
	  {% for books in context.books | split() %}
	  <div class="tile is-6 is-vertical is-parent">
		    {% for book in books %}
		    <div class="tile is-child article-box" >
            <a href="{{ url_book(id=book.identifier) }}">
                {% if book.info.meta.short_code %}
                {{ book.info.meta.short_code }}
                {% endif %}
            </a>

            <h4 class="title is-5"><a href="{{ url_book(id=book.identifier) }}">{{ book.info.meta.short_title }}</a></h4>
			      <p class="subtitle is-6">
                <a href="{{ url_book(id=book.identifier) }}">{{ book.info.description }}</a>
            </p>
		    </div>
		    {% endfor %}
	  </div>
	  {% endfor %}
</div>

{% endblock content %}
