{% extends "base.html" %}

{% block title %}- {% if content.info.meta.short_title %}
{{ content.info.meta.short_title }}
{% else %}
{{ content.info.title }}
{% endif %}
{% endblock title %}

{% block sections %}
{% if content.info.meta.toc %}
<nav class="panel in-this-post">
    <p class="panel-heading">
        In this Article
    </p>
    {% for section in content.sections %}
    <a href="#{{ section.0 }}" class="panel-block">
        {{ section.1 }}
    </a>
    {% endfor %}
</nav>
{% endif %}
{% endblock sections %}

{% block content %}
<article class="article-post">

	<div class="field is-grouped is-grouped-multiline" id="article-meta">
		<div class="control">
			<div class="tags has-addons">
				<span class="tag is-dark">released</span>
				<span class="tag is-info">{{ content.info.date | date(format="%a, %d %b %Y")  }}</span>
			</div>
		</div>

    {% if content.info.meta.swift_version %}
		<div class="control">
			  <div class="tags has-addons">
				    <span class="tag is-dark">Swift Version</span>
				    <span class="tag is-info">{{ content.info.meta.swift_version }}</span>
			  </div>
		</div>
    {% endif %}

		<div class="control">
			<div class="tags">
				{% for tag in content.info.tags %}
				<span class="tag is-link is-rounded"><a href="{{ url_tag(id=tag) }}">#{{tag}}</a></span>
				{% endfor %}
			</div>
		</div>

	</div>

	<h2 class="title is-3">{{ content.info.title }}</h2>
	<h4 class="subtitle is-4">{{ content.info.description_html }}</h4>

	<div class="content">
      {% if content.info.meta.moved %}
      <div class="media box">
          <div class="media-content">
              This article has moved <a href="{{ content.info.meta.moved }}">here</a>:<br/>
              <h4><a href="{{ content.info.meta.moved }}">{{ content.info.meta.moved }}</a></h4>
          </div>
      </div>
      {% else %}
        {{ content.content }}
      {% endif %}
	</div>

	<div class="footnotes box">
		  <table class="table">
			    <thead>
				      <tr>
					        <th>Similar Articles</th>
				      </tr>
			    </thead>
			    <tbody>
	            {% for sim in content.similar_documents %}
				      <tr>
					        <td>
						          <p><a href="/{{sim.1.slug}}">{{ sim.1.title }}</a></p>
					        </td>
				      </tr>
              {% endfor %}
			    </tbody>
		  </table>
	</div>


</article>
{% endblock content %}
